# This is a Jupyter Notebook from Lecture 1

In [1]:
# Reading data now needs to point to the directory above the current using ../
import pandas as pd
pd.read_csv('../data/raw/co2_emission_2022.csv').head()

            Minutes5DK  CO2Emission
0  2022-01-31 23:55:00        164.0
1  2022-01-31 23:50:00        165.0
2  2022-01-31 23:45:00        170.0
3  2022-01-31 23:40:00        177.0
4  2022-01-31 23:35:00        181.0